<script setup>
import { computed } from 'vue';
import PlannedEffort from './PlannedEffort.vue'
import { useConfigStore } from '@/store/modules/config'
import { useTodoStore } from '@/store/modules/todo'
const props = defineProps({
  day: Date
})
const configStore = useConfigStore()
const todoStore = useTodoStore()
const maxTiredAcceptable = computed(() => configStore.maxTiredAcceptable)
const effort = computed(() => todoStore.plannedThisDay(props.day))
</script>
<template>
  <PlannedEffort :period="$t('time.period.day')" :effort="effort" :maxEffort="maxTiredAcceptable" />
</template>
