<script setup>
import { computed, watch } from 'vue';
import EffortIndicator from '@/components/atoms/EffortIndicator.vue'
import { useToastStore } from '@/store/modules/toast'
import { useI18n } from 'vue-i18n'
const { t } = useI18n()

const props = defineProps({
  period: String,
  effort: Number,
  maxEffort: Number
})
const tooMuch = computed(() => props.effort > props.maxEffort)
const store = useToastStore()
watch(() => props.effort, (newValue, oldValue) => {
  if (tooMuch.value && newValue > oldValue) {
    store.showMessage(`${t('task.effort.plannedToMuch')} ${props.period}`)
  }
})
</script>

<template>
  <span v-if="tooMuch">
    {{ $t('task.effort.youPlanned') }}
    <EffortIndicator :effort="effort" /> {{ $t(`task.effort.andTooMuchPeriod.${period}`) }}.
  </span>
</template>


<style scoped>
span {
  display: block;
  background: var(--color-purple);
  font-size: var(--font-size-xs);
}
</style>
