<script setup>
import EffortIndicator from '@/components/atoms/EffortIndicator.vue'
import { computed } from 'vue';
import { useI18n } from 'vue-i18n'
const { t } = useI18n()

const props = defineProps({
  period: String,
  tired: Number,
  maxTiredAcceptable: Number
})
const periodMessage = {
  day: t('task.effort.thisDay'),
  week: t('task.effort.thisWeek')
}
const maxArrived = computed(() => props.tired >= props.maxTiredAcceptable)
</script>
<template>
  <span>
    {{ periodMessage[props.period] }},
    <span v-if="tired > 0">
      {{ $t('task.effort.youDone') }}
      <EffortIndicator class="indicator" :effort="tired" />,
    </span>
    <span v-else>{{ $t('task.effort.youDoneNothing') }}</span>
    {{ $t('task.effort.and') }}
    <span v-if="maxArrived">
      {{ $t('task.effort.youShould') }}
      <span class="final-part">{{ $t('task.effort.stop') }}</span>
    </span>
    <span v-else>
      <span class="final-part">{{ $t('task.effort.itsOkay') }}</span>
    </span>
  </span>
</template>

<style scoped>
span {
  display: inline-flex;
  align-items: center;
  margin: 0 var(--spacing-xs);
}

.indicator {
  font-size: var(--font-size-m);
}

.final-part {
  white-space: nowrap;
}
</style>
