<script setup>
import { storeToRefs } from 'pinia'
import TiredStatus from './TiredStatus.vue'
import { useTodoStore } from '@/store/modules/todo'
import { useConfigStore } from '@/store/modules/config'
const todoStore = useTodoStore()
const configStore = useConfigStore()
const { tiredThisWeek } = storeToRefs(todoStore)
const { maxTiredAcceptablePerWeek } = storeToRefs(configStore)
</script>


<template>
  <div class="week-status">
    <TiredStatus period="week" :tired="tiredThisWeek" :maxTiredAcceptable="maxTiredAcceptablePerWeek" />
  </div>
</template>

<style scoped>
.week-status {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--height-bottom-fixed);
  background: var(--color-blue);
  color: var(--color-pen);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-s);
  box-sizing: border-box;
  font-size: var(--font-size-xs);
}
</style>
