<script setup>
import { useTodoStore } from '@/store/modules/todo';
import SortableList from '@/components/organisms/list/SortableList.vue'
import NewTodoModal from '@/components/organisms/NewTodoModal.vue'

const todoStore = useTodoStore()
</script>

<template>
  <section>
    <h3>{{ $t('navigation.allTasks') }}</h3>
    <NewTodoModal />
    <br /><br />
    <SortableList :todos="todoStore.todos" />
  </section>
</template>
