<script setup>
import EditConfig from '@/components/organisms/EditConfig.vue'
import ManageFolders from '@/components/organisms/ManageFolders.vue'
import ManageBackup from '@/components/organisms/ManageBackup.vue'
import CreditFooter from '@/components/atoms/misc/CreditFooter.vue'
</script>

<template>
  <div class="page">
    <EditConfig />
    <ManageFolders />
    <ManageBackup />
    <CreditFooter />
  </div>
</template>


<style scoped>
.page>div {
  margin-top: var(--spacing-m);
}
</style>
