<script setup>
import FolderView from '@/components/organisms/FolderView.vue';
import CreateTodo from '@/components/organisms/CreateTodo.vue'
defineProps(['folderId', 'folderName'])
</script>
<template>
  <div>
    <FolderView :folderId="folderId" :folderName="folderName" />
    <CreateTodo :folderId="folderId"/>
  </div>
</template>
