<script setup>
import OnboardingTodoList from '@/components/organisms/list/OnboardingTodoList.vue'
import LudistaLogo from '@/assets/ludista-logo.svg'
</script>
<template>
  <div>
    <section class="welcome">
      <h1>Ludista de Tarefas</h1>
      <LudistaLogo class="logo" />
      <p>{{ $t('onboarding.mainMessage') }}</p>
    </section>
    <h2>{{ $t('onboarding.addTasks') }}</h2>
    <OnboardingTodoList />
  </div>
</template>

<style scoped>
.welcome {
  background: var(--color-sticky-note);
  color: var(--color-pen-blue);
  padding: var(--spacing-m);
  box-shadow: var(--right-shadow);
}

.welcome p {
  margin: 0;
}

h1 {
  text-align: center;
}

.logo {
  display: block;
  height: 160px;
  margin: 0 auto;
  width: 160px;
}
</style>
