<script setup>
import { computed } from 'vue'
import { useTodoStore } from '../../store/modules/todo'
import SortableList from '@/components/organisms/list/SortableList.vue'
import NewTodoModal from '@/components/organisms/NewTodoModal.vue'
const store = useTodoStore()
const todos = computed(() => store.inboxTodos)
</script>

<template>
  <section>
    <h3>Inbox</h3>
    <p>{{ $t('onboarding.inboxMessage') }}</p>
    <NewTodoModal />
    <br /><br />
    <SortableList :todos="todos" />
  </section>
</template>
