<script setup>
import SortableList from '@/components/organisms/list/SortableList.vue'
import { useTodoStore } from '@/store/modules/todo';
import { computed } from 'vue';

const store = useTodoStore()
const todos = computed(() => store.overdueTasks)
</script>
<template>
  <section>
    <h2>{{ $t('navigation.overdue') }}</h2>
    <SortableList :todos="todos" />
  </section>
</template>
