<script setup>
import DayView from '@/components/organisms/DayView.vue'
import NothingTodoToday from '@/components/molecules/NothingTodoToday.vue'
import format from 'date-fns/format'
import CreateTodo from '@/components/organisms/CreateTodo.vue'

const today = new Date()
</script>

<template>
  <div>
    <section class="today">
      <h3>Today is {{ format(today, 'd/LLL/yy') }}</h3>
      <DayView :day="today" />
      <NothingTodoToday />
      <p>{{ $t('task.dismiss.recoverSnoozeHelp') }}</p>
    </section>
    <CreateTodo :date="today"/>
  </div>
</template>

<style scoped>
.today {
  --section-new-todo-height: 250px;
  margin-bottom: calc(var(--section-new-todo-height));
}

.new-todo h2 {
  font-size: var(--font-size-m);
}
</style>
