<script setup>
import ToastTransition from '@/components/atoms/misc/ToastTransition.vue'
import MainNavigation from '@/components/molecules/MainNavigation.vue'
import SidebarContainer from '@/components/organisms/SidebarContainer.vue'

</script>

<template>
  <SidebarContainer>
    <MainNavigation />
  </SidebarContainer>
  <main>
    <slot></slot>
  </main>
  <ToastTransition />
</template>

<style scoped>
main {
  --horizontal-padding: calc(var(--spacing-xl) + 2 * var(--sidebar-main-size));
  --vertical-padding: calc(var(--sidebar-main-size) + var(--spacing-m));
  box-sizing: border-box;
  padding: var(--vertical-padding) var(--horizontal-padding);
  min-height: 100vh;
}

@media (max-width: 700px) {
  main {
    --vertical-padding: calc(var(--sidebar-main-size) + 3 * var(--spacing-m));
    --horizontal-padding: var(--spacing-l);
  }
}
</style>
