<script setup>
import { APP_VERSION } from '@/services/constants'
import { computed } from 'vue'
const developmentWarning = computed(() => import.meta.env.DEV ? ' + development changes' : '')

</script>
<template>
  <footer>
    <p v-html="$t('credits.acknowlegment')" />
    <p v-html="$t('credits.specialThanks')" />
    <p>{{ $t('credits.version') }} {{ APP_VERSION }}{{ developmentWarning }}</p>
  </footer>
</template>

<style scoped>
footer {
  background: var(--color-pink);
  box-shadow: var(--all-shadow);
  /* i have no idea what's happening here*/
  display: table-cell;
  color: var(--color-pen-black);
  height: var(--height-bottom-fixed);
  font-size: var(--font-size-xs);
  margin-top: var(--spacing-m);
  padding: var(--spacing-s);
  text-align: center;
}
</style>
