<script setup>
import { computed, onUnmounted, ref, watch } from 'vue'
import * as log from 'loglevel'
import { useToastStore } from '@/store/modules/toast'
import { useModalStore } from '@/store/modules/modal'
import { useI18n } from 'vue-i18n'

const { t } = useI18n()

const props = defineProps({
  modalId: String
})
const toast = useToastStore()
const modalStore = useModalStore()
const open = computed(() => modalStore.open(props.modalId))
const overlayElement = ref(null)

// just to be sure
onUnmounted(() => {
  document.body.style.overflowY = 'auto'
})

watch(open, () => {
  if (open.value) {
    document.body.style.overflowY = 'hidden'
    setTimeout(() => {
      try {
        const firstFocusableElement = [...overlayElement.value.querySelectorAll('*')]
          .find(element => element.tabIndex >= 0)
        firstFocusableElement.focus()
      } catch (error) {
        toast.showMessage(t('errors.generic'))
        log.error('No focusable element found inside modal', error)
      }
    }, 50) // give it time for the DOM to open modal
  } else {
    document.body.style.overflowY = 'auto'
  }
})

const closeModal = () => modalStore.closeModal(props.modalId)

const handleOverlayClick = (ev) => {
  if (ev.target === overlayElement.value) closeModal()
}

</script>

<template>
  <div class="overlay" :aria-hidden="!open" @keyup.esc="closeModal" @click="handleOverlayClick" ref="overlayElement">
    <div class="modal" role="dialog">
      <div class="modal-body">
      <slot></slot>
      </div>
      <button class="close-modal" type="button" @click="closeModal" :aria-label="t('modal.close')">❌</button>
    </div>
  </div>
</template>

<style scoped>
.modal {
  background-color: var(--color-white);
  border: var(--border-default-pen);
  margin: var(--spacing-xs);
  padding: var(--spacing-l);
  position: relative;
  z-index: 25;
}

.modal-body {
  min-height: 40vh;
  max-height: 70vh;
  overflow-y: auto;
}

@media (max-width: 500px) {
  .modal {
    padding: var(--spacing-xs);
  }
}

.overlay[aria-hidden="true"] {
  opacity: 0;
  visibility: hidden;
}

.overlay[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
  z-index: 25;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  transition: all ease-in 300ms;
}

button.close-modal {
  background: var(--color-sticky-note);
  border: var(--border-default-pen);
  cursor: pointer;
  margin: var(--spacing-m);
  padding: var(--spacing-xs);
  position: absolute;
  right: 0;
  top: 0;
}
</style>
