<script setup>
import { useToastStore } from '@/store/modules/toast'
import { storeToRefs } from 'pinia'

const store = useToastStore()
const { show, message } = storeToRefs(store)
</script>
<template>
  <transition name="fade">
    <div v-if="show" class="toast">{{ message }}</div>
  </transition>
</template>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.toast {
  background: var(--color-sticky-note);
  bottom: var(--spacing-l);
  box-shadow: var(--right-shadow);
  box-sizing: border-box;
  color: var(--color-pen-blue);
  left: var(--spacing-l);
  max-width: calc(100vw - 2 * var(--spacing-l));
  padding: var(--spacing-s);
  position: fixed;
  text-align: center;
  z-index: 30;
}
</style>
