<script setup>
import { ref } from 'vue'
import { useToastStore } from '@/store/modules/toast'
import CreateTodo from '@/components/organisms/CreateTodo.vue'
import TodoList from '@/components/organisms/list/TodoList.vue'
import { useI18n } from 'vue-i18n'
const { t } = useI18n()

const toast = useToastStore()
const todos = ref([])
const onTodoCreated = (newTodo) => {
  todos.value.push(newTodo)
  toast.showMessage(t('onboarding.newTaskCreated'))
}

</script>

<template>
  <CreateTodo @todo-created="onTodoCreated" />
  <p v-html="$t('onboarding.todoListMessage')" />
  <TodoList :todos="todos" />
</template>
