<script setup>
import TodoList from '@/components/organisms/list/TodoList.vue'
import StickerButton from '@/components/molecules/StickerButton.vue'
import { ref, computed } from 'vue'

const sortFn = {
  default: () => 0,
  effort: (a, b) => a.tiring - b.tiring,
  date: (a, b) => a.date ? a.date.localeCompare(b.date) : 1
}

const props = defineProps(['todos', 'todoComponent', 'day'])
const desc = ref(false)
const order = ref('default')

const showOrderDate = computed(() => {
  const { date } = props.todos[0]
  return !!props.todos.find(todo => todo.date !== date)
})
const sortedTodos = computed(() => {
  const todos = [...props.todos].sort(sortFn[order.value])
  if (desc.value) todos.reverse()
  return todos.map(todo => ({ ...todo, showDate: showOrderDate.value }))
})
const notEmpty = computed(() => props?.todos?.length > 0)
const toggleOrder = (newOrder) => {
  if (order.value === newOrder) {
    desc.value = !desc.value
  }
  order.value = newOrder
}
const classes = (orderName) => orderName === order.value ? 'button active' : 'button'
</script>

<template>
  <div class="sortable-list" v-if="notEmpty">
    <span class="order">
      <StickerButton :class="classes('default')" @click=" toggleOrder('default')">
        {{ $t('ordering.default') }}
      </StickerButton>
      <StickerButton :class="classes('effort')" @click="toggleOrder('effort')">
        {{ $t('ordering.effort') }}
      </StickerButton>
      <StickerButton :class="classes('date')" @click="toggleOrder('date')" v-show="showOrderDate">
        {{ $t('ordering.date') }}
      </StickerButton>
    </span>
    <TodoList :todos="sortedTodos" :todoComponent="props.todoComponent" :day="day" />
  </div>
</template>

<style scoped>
.button {
  --sticker-emphasis-bg: var(--color-inactive);
  margin-left: var(--spacing-s);
  margin-bottom: var(--spacing-s);
}

.active {
  --sticker-emphasis-bg: var(--color-active);
}
</style>
