<script setup>
import EditableTodo from '@/components/molecules/todo/EditableTodo.vue'
import useLazyListRender from '@/composables/useLazyListRender'

const props = defineProps(['todos', 'todoComponent', 'day'])
const itemComponent = props.todoComponent ?? EditableTodo
const { shouldRenderElement, itemsRef } = useLazyListRender({ eachStepItemsToRender: 10, rootMargin: '48px' })

</script>
<template>
  <ul data-test-id="todo-list">
    <li v-for="(todo, i) in props.todos" :key="todo.id" :ref="el => { if (el) itemsRef[i] = el }">
      <component v-if="shouldRenderElement(i)" :is="itemComponent" v-bind="{ todo, day: props.day }"></component>
    </li>
  </ul>
</template>

<style scoped>
html {
  --max-todo-width: 800px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: var(--spacing-xl);
  max-width: var(--max-todo-width);
}
</style>
