<script setup>
const props = defineProps(['modelValue'])
const emit = defineEmits(['update:modelValue'])
const change = (ev) => emit('update:modelValue', ev.target.value)
</script>
<template>
  <div class="custom-select">
    <select v-bind="$attrs" :value="props.modelValue" @change="change">
      <slot></slot>
    </select>
  </div>
</template>

<style scoped>
.custom-select {
  height: var(--height-line-s);
  position: relative;
}

select {
  appearance: none;
  background-color: var(--color-sticky-note);
  border: var(--border-default-pen);
  color: var(--color-pen-blue);
  cursor: pointer;
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-m);
  height: 100%;
  width: 100%;
}

option {
  background-color: var(--color-sticky-note);
  color: var(--color-pen-blue);
}

.custom-select::before,
.custom-select::after {
  --size: 4px;
  position: absolute;
  content: "";
  right: calc(3 * var(--size));
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}
</style>
