<script setup>
import { computed } from 'vue'
import { chooseEmoji, emojiSize, EMOJI_SIZES } from '@/services/effortEmojis'

const props = defineProps(['effort'])
const emoji = computed(() => chooseEmoji(props.effort ?? 1))
const size = computed(() => emojiSize(props.effort ?? 1))
const emojiFromSize = (SIZE) => size.value === SIZE ? emoji.value : ""

</script>

<template>
  <div class="container">
    <span class="number-indicator">{{ effort }}</span>
    <span class="emoji">
      <span class="big-emojis">{{ emojiFromSize(EMOJI_SIZES.BIG) }}</span>
      <span class=" medium-emojis">{{ emojiFromSize(EMOJI_SIZES.MEDIUM) }}</span>
      <span>{{ emojiFromSize(EMOJI_SIZES.SMALL) }}</span>
    </span>
  </div>
</template>

<style scoped>
.container {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  height: var(--square-size-l);
  justify-content: center;
  text-align: center;
  width: var(--square-size-l);
}

.emoji {
  align-items: center;
  background: var(--color-default-background);
  border-radius: 100%;
  display: inline-flex;
  font-family: var(--emoji-font-family);
  margin: 0 var(--spacing-xs);
  min-height: var(--square-size-xs);
  min-width: var(--square-size-xs);
  justify-content: center;
}

.number-indicator {
  font-family: var(--regular-font-family);
  color: var(--color-pen-blue);
  font-size: var(--font-size-xs);
  height: var(--height-line-xs);
  margin: var(--spacing-sm);
  text-align: left;
}

.big-emojis {
  font-size: var(--font-size-ml);
}

.medium-emojis {
  font-size: var(--font-size-m);
}
</style>
