<script setup>
const props = defineProps(['recurringDays'])
const daysText = props?.recurringDays?.join(', ') ?? ''

</script>

<template>
  <span class="emoji-indicator" :aria-label="$t('task.characteristics.recurrent')"
    :title="$t('task.characteristics.recurrent')">🔁</span>
  <span> {{ daysText }}</span>
</template>

<style scoped>
.emoji-indicator {
  cursor: help;
  margin: 0 var(--spacing-s);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
