<template>
  <button v-bind="$attrs">
    <slot></slot>
  </button>
</template>

<style scoped>
button {
  background: var(--color-sticky-note);
  border: var(--color-pen-blue) 1px solid;
  box-sizing: border-box;
  color: var(--color-pen-blue);
  cursor: pointer;
  padding: var(--spacing-s) var(--spacing-m);
  font-size: var(--font-size-xs);
  min-height: calc(var(--height-line-s) + 2 * var(--spacing-m));
}
</style>
