<template>
  <span class="sticker-wrapper">
    <span class="triangle-right"></span>
    <span class="sticker-container-emphasis">
      <slot />
    </span>
  </span>
</template>
<style scoped>
.sticker-wrapper {
  color: var(--sticker-emphasis-color, var(--color-pen));
  display: inline-block;
  --sticker-height: var(--height-line-m);
}

.sticker-wrapper,
.sticker-wrapper * {
  box-sizing: border-box;
}

.sticker-wrapper button {
  border: none;
}

.sticker-container-emphasis {
  background: var(--sticker-emphasis-bg, var(--color-green));
  display: inline-block;
  height: var(--sticker-height);
  box-shadow: var(--right-shadow);
}

.triangle-right {
  --half-size: calc(var(--sticker-height) / 2);
  display: inline-block;
  width: 0;
  height: 0;
  border-top: var(--half-size) solid transparent;
  border-bottom: var(--half-size) solid transparent;
  border-right: var(--half-size) solid var(--sticker-emphasis-bg, var(--color-green));
  vertical-align: bottom;
}
</style>
