<script setup>
defineProps(['text'])
</script>

<template>
  <p class="box-shadow">
    <slot></slot>
  </p>
</template>

<style scoped>
.box-shadow {
  box-shadow: var(--all-shadow);
  padding: var(--spacing-m);
}
</style>
