<script setup>
const emit = defineEmits(['click'])
const props = defineProps(
  {
    type: {
      default: 'button'
    }
  }
)
</script>
<template>
  <button :type="props.type" @click="emit('click')">
    <slot></slot>
  </button>
</template>

<style scoped>
button {
  background: var(--color-sticky-note);
  border: dashed 4px var(--color-warning);
  color: var(--color-pen);
  cursor: pointer;
  font-weight: bold;
  height: var(--height-line-m);
}
</style>
