<script setup>
import RegularButton from '@/components/atoms/RegularButton.vue'
import { FOCUSABLE_SELETOR } from '@/services/constants'
import { onMounted, onUnmounted, ref, watch } from 'vue'

defineProps(['labelText'])
const expanded = ref(false)
const contextWrapperDiv = ref(null)
const onClick = (ev) => {
  expanded.value = !expanded.value
  if (expanded.value) {
    contextWrapperDiv.value.style.opacity = 0
    /* Timeout because we need to wait for browser to paint element
    * and then get it's bounding correctly */
    setTimeout(() => {
      const { x, y, height } = ev.target.getBoundingClientRect()
      const { width: divWidth, height: divHeight } = contextWrapperDiv.value.getBoundingClientRect()
      contextWrapperDiv.value.style.marginLeft = x > (window.innerWidth / 2) ? `-${divWidth}px` : '0'
      contextWrapperDiv.value.style.marginTop = y > (window.innerHeight / 2) ? `-${height + divHeight}px` : '0'
      contextWrapperDiv.value.style.opacity = 1
    }, 20)
  }
}
const close = () => expanded.value = false
const wrapperDiv = ref()
const clickedInside = ref(false)
const handleDocumentClick = (ev) => {
  clickedInside.value = wrapperDiv.value.contains(ev.target)
}
const handleFocusout = (ev) => {
  if (!wrapperDiv.value.contains(ev.relatedTarget) || !clickedInside.value) {
    expanded.value = false
  }
}

watch(expanded, (newValue) => {
  if (newValue) {
    setTimeout(
      () => wrapperDiv.value.querySelector(`:nth-child(2 of (${FOCUSABLE_SELETOR}))`)?.focus(),
      20)
  }
})

onMounted(() => {
  // mousedown happens before focus events
  document.addEventListener('mousedown', handleDocumentClick)
})
onUnmounted(() => {
  document.removeEventListener('mousedown', handleDocumentClick)
})

</script>

<template>
  <div @keyup.esc="close" @focusout="handleFocusout" ref="wrapperDiv">
    <RegularButton type="button" class="button" @click="onClick" :aria-expanded="expanded">
      {{ labelText }}
    </RegularButton>
    <div v-show="expanded" class="context-wrapper" ref="contextWrapperDiv">
      <slot />
    </div>
  </div>
</template>

<style scoped>
.context-wrapper {
  background-color: var(--color-default-background);
  box-shadow: var(--right-shadow);
  padding: var(--spacing-m);
  position: absolute;
  transition: opacity ease-in 100ms;
  z-index: 100;
}

.button {
  height: 100%;
  width: 100%;
}
</style>
