<script setup>
import { format } from 'date-fns'
import RegularButton from '@/components/atoms/RegularButton.vue'
const saveBackup = () => {
  const dummyLink = document.createElement('a')
  const jsonTodoStore = JSON.parse(localStorage.getItem('todo'))
  const jsonConfigStore = JSON.parse(localStorage.getItem('config'))
  const content = JSON.stringify({ todo: jsonTodoStore, config: jsonConfigStore })
  const file = new Blob([content], { type: 'text/plain' })
  dummyLink.href = URL.createObjectURL(file)
  dummyLink.download = `${format(new Date, 'yyyy-mm-dd')}-backup.json`
  dummyLink.click()
  URL.revokeObjectURL(dummyLink.href)
  document.removeChild(dummyLink)
}
</script>
<template>
  <RegularButton @click="saveBackup">{{ $t('backup.save') }}</RegularButton>
</template>
