<script setup>
import TiredStatus from '@/components/molecules/indicator/TiredStatus.vue'
import { computed } from 'vue'
import { useTodoStore } from '@/store/modules/todo'
import { useConfigStore } from '@/store/modules/config'

const props = defineProps({
  day: Date
})
const todoStore = useTodoStore()
const configStore = useConfigStore()
const tired = computed(() => todoStore.tiredFromDay(props.day))
const maxTiredAcceptable = computed(() => configStore.maxTiredAcceptable)
</script>

<template>
  <TiredStatus class="day-tired" period="day" v-if="tired > 0" :tired="tired"
    :maxTiredAcceptable="maxTiredAcceptable" />
</template>

<style scoped>
.day-tired {
  display: block;
  font-size: var(--font-size-xxs);
  color: var(--color-pen-blue);
}
</style>
