<script setup>
import { computed, ref } from 'vue';
import { useTodoStore } from '../../store/modules/todo';
import RegularButton from '@/components/atoms/RegularButton.vue'

const props = defineProps({
  folderId: String
})
const store = useTodoStore()
const storeFolder = computed(() => store.getFolderById(props.folderId))
const name = ref(storeFolder.value.name)
const editFolder = () => {
  store.editFolder({ id: props.folderId, name: name.value })
}
const removeFolder = store.removeFolder
</script>
<template>
  <form @submit.prevent="editFolder">
    <input type="text" v-model="name" :aria-label="$t('folder.name')">
    <RegularButton class="save" type="submit">{{ $t('general.save') }}</RegularButton>
    <RegularButton type="button" :aria-label="$t('general.delete')" @click="removeFolder(storeFolder.id)">🗑
    </RegularButton>
  </form>
</template>

<style scoped>
form {
  display: inline-flex;
  gap: var(--spacing-s);
  margin: var(--spacing-s);
}

input {
  padding: var(--spacing-s);
}

.save {
  background: var(--color-background-emphasis-1);
}
</style>
