<script setup>
import { computed } from 'vue';
import { useTodoStore } from '@/store/modules/todo'

const store = useTodoStore()
const folders = computed(() => store.folders)
const folderLink = folder => `/f/${folder.id}/${folder.name}`
const shouldShowOverdue = computed(() => store.overdueTasks?.length > 0)
</script>

<template>
  <nav aria-label="main">
    <ul>
      <li>
        <router-link to="/" exact>Home</router-link>
      </li>
      <li>
        <router-link to="/inbox">Inbox</router-link>
      </li>
      <li v-if="shouldShowOverdue">
        <router-link to="/overdue">{{ $t('navigation.overdue') }}</router-link>
      </li>
      <li>
        <router-link to="/today">{{ $t('navigation.today') }}</router-link>
      </li>
      <li>
        <router-link to="/week">{{ $t('time.period.week') }}</router-link>
      </li>
      <li v-for="folder in folders" :key="folder.id">
        <router-link :to="folderLink(folder)">{{ folder.name }}</router-link>
      </li>
      <li>
        <router-link to="/all">{{ $t('navigation.allTasks') }}</router-link>
      </li>
      <li>
        <router-link to="/config">{{ $t('navigation.config') }}</router-link>
      </li>
    </ul>
  </nav>
</template>

<style scoped>
nav {
  font-weight: 600;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
}

li {
  list-style: none;
  padding: var(--spacing-sm) var(--spacing-ml);
  text-transform: capitalize;
}

.router-link-active {
  text-decoration: underline;
}
</style>
