<script setup>
import { ref } from 'vue';
import { useTodoStore } from '../../store/modules/todo';
import RegularButton from '@/components/atoms/RegularButton.vue'

const store = useTodoStore()
const name = ref('')
const createNewFolter = () => {
  store.newFolder({ name: name.value })
  name.value = ''
}
</script>
<template>
  <form @submit.prevent="createNewFolter">
    <label>
      {{ $t('folder.newFolder') }}
      <input type="text" v-model="name">
    </label>
    <RegularButton type="submit">{{ $t('general.save') }}</RegularButton>
  </form>
</template>

<style scoped>
button {
  margin-left: var(--spacing-s);
}

input {
  padding: var(--spacing-xs);
}
</style>
