<script setup>
import TextBox from '@/components/atoms/TextBox.vue'
import { useTodoStore } from '@/store/modules/todo'
import { computed } from 'vue'

const store = useTodoStore()
const show = computed(() => store.availableThisDay(new Date()).length <= 0)
</script>

<template>
  <TextBox v-if="show">{{ $t('task.nothingTodoToday') }}</TextBox>
</template>
