<script setup>
import StickerEmphasis from '@/components/atoms/StickerEmphasis.vue'

const emit = defineEmits(['click'])
const props = defineProps(
  {
    type: {
      default: 'button'
    }
  }
)
</script>
<template>
  <StickerEmphasis>
    <button :type="props.type" @click="emit('click')">
      <slot></slot>
    </button>
  </StickerEmphasis>
</template>

<style scoped>
button {
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  padding-right: var(--sticker-height);
}
</style>
