<script setup>
import EffortIndicator from '@/components/atoms/EffortIndicator.vue'

const props = defineProps(['backupData'])
const folders = props.backupData.todo.folders
const todos = props.backupData.todo.todos
const dueDate = (todo) => todo.recurringDays?.length > 0 ? todo.recurringDays.join(',') : todo.dueDate
const folderName = (todo) => folders.find(f => f.id === todo.folderId)?.name
</script>
<template>
  <section class="view-backup-container">
    <h3>{{ $t('backup.fromVersion', { version: props.backupData.config.version }) }}</h3>
    <section>
      <h4>{{ $t('backup.foldersFound') }}: {{ folders.length }}</h4>
      <ul>
        <li v-for="folder in folders" :key="folder.id">{{ folder.name }}</li>
      </ul>
    </section>
    <section>
      <h4>{{ $t('backup.tasksFound') }}: {{ todos.length }}</h4>
      <table class="todos">
        <thead>
          <tr>
            <th>{{ $t('backup.table.name') }}</th>
            <th>{{ $t('backup.table.dueDate') }}</th>
            <th>{{ $t('backup.table.doneDate') }}</th>
            <th>{{ $t('backup.table.effort') }}</th>
            <th>{{ $t('backup.table.folder') }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="todo in todos" :key="todo.id">
            <td>{{ todo.taskName }}</td>
            <td>{{ dueDate(todo) }}</td>
            <td>{{ todo.done && todo.doneDate }}</td>
            <td>
              <EffortIndicator :tiring="todo.tiring" />
            </td>
            <td>{{ folderName(todo) }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>
</template>

<style scoped>
.view-backup-container {
  height: 70vh;
  width: 90vw;
  overflow-y: scroll;
}

.todos {
  max-height: 80%;
  max-width: 90%;
  overflow: scroll;
  margin: var(--spacing-m);
}
</style>
