<script setup>
import { format } from 'date-fns'
import RegularButton from '@/components/atoms/RegularButton.vue'
import InputTodo from '@/components/molecules/todo/InputTodo.vue'
import { useTodoStore } from '@/store/modules/todo'
import { computed, onUnmounted, ref } from 'vue'
import { useModalStore } from '@/store/modules/modal'
import ModalContainer from '@/components/atoms/misc/ModalContainer.vue'

const props = defineProps(['date', 'hideInputs', 'folderId'])
const emit = defineEmits(['todo-created'])
const date = props.date ? format(props.date, 'yyyy-MM-dd') : null
const { folderId } = props
const emptyTodo = {
  tiring: 1,
  taskName: '',
  recurringDays: [],
  date
}
const computedHideInputs = computed(() => [
  ...(props.hideInputs ?? []),
  ...(props.date ? ['date'] : []),
  ...(props.folderId ? ['folder'] : []),
])
const todo = ref({ ...emptyTodo })
const store = useTodoStore()
const createTodo = () => {
  const todoValue = { ...todo.value }
  if (date) todoValue.date = date
  if (folderId) todoValue.folderId = folderId
  const createdTodo = store.newTodo(todoValue)
  emit('todo-created', createdTodo)
  todo.value = { ...emptyTodo }
}
const modalStore = useModalStore()
const modalId = modalStore.registerModal()
const openModal = () => modalStore.openModal(modalId)
const keyPressHandler = (ev) => {
  if (ev.key === 'n') {
    openModal()
  }
}
window.addEventListener('keypress', keyPressHandler)
onUnmounted(() => {
  modalStore.unregisterModal(modalId)
  window.removeEventListener('keypress', keyPressHandler)
})
</script>

<template>
  <RegularButton class="floating-button" @click="openModal">➕</RegularButton>
  <ModalContainer :modalId="modalId">
    <form @submit.prevent="createTodo">
      <InputTodo v-model="todo" :hideInputs="computedHideInputs" />
      <RegularButton class="save-todo" type="submit">{{ $t('general.save') }}</RegularButton>
    </form>
  </ModalContainer>
</template>

<style scoped>
form {
  margin: var(--spacing-m) 0;
  max-width: 420px;
}

button {
  margin: var(--spacing-s) 0;
}

.floating-button {
  background: var(--color-background-emphasis-1);
  position: fixed;
  bottom: var(--spacing-m);
  right: var(--spacing-m);
}

.save-todo {
  background: var(--color-background-emphasis-1);
  color: var(--color-emphasis-2);
  border-color: var(--color-emphasis-2);
  font-size: var(--font-size-s);
  margin: var(--spacing-s);
}
</style>
