<script setup>
import PlannedEffortDay from '@/components/molecules/indicator/PlannedEffortDay.vue'
import SortableList from '@/components/organisms/list/SortableList.vue'
import DoneThisDay from '@/components/organisms/DoneThisDay.vue'
import DayTiredStatus from '@/components/molecules/DayTiredStatus.vue'
import { useTodoStore } from '@/store/modules/todo'
import EditableTodo from '@/components/molecules/todo/EditableTodo.vue'
import DismissableTodo from '@/components/molecules/todo/DismissableTodo.vue'
import RemoveSnoozeDate from '@/components/molecules/todo/RemoveSnoozeDate.vue'
import { computed } from 'vue'
const props = defineProps({
  day: Date,
  options: Boolean
})
const store = useTodoStore()
const todos = computed(() => store.availableThisDay(props.day)
  .map(todo => ({ ...todo, contextDate: props.day })))
const todoComponent = props.options ? EditableTodo : DismissableTodo

</script>

<template>
  <div>
    <PlannedEffortDay :day="day" />
    <SortableList :todos="todos" :todoComponent="todoComponent" :day="day" />
    <br>
    <DayTiredStatus :day="day" />
    <DoneThisDay :day="day" />
    <RemoveSnoozeDate :day="day" :textLabel="$t('task.dismiss.recoverSnoozeForDay')" />
  </div>
</template>
