<script setup>
import TodoList from '@/components/organisms/list/TodoList.vue'
import DoneTodo from '@/components/molecules/todo/DoneTodo.vue'
import { useTodoStore } from '@/store/modules/todo'
import { computed } from 'vue'

const props = defineProps({
  day: Date
})
const store = useTodoStore()
const todos = computed(() => store.doneThisDay(props.day))
</script>


<template>
  <div v-show="todos.length > 0">
    <h4>{{ $t('task.doneThisDay') }}</h4>
    <TodoList :todos="todos" :todoComponent="DoneTodo" />
  </div>
</template>

<style scoped>
h4 {
  margin: var(--spacing-xs);
}
</style>
