<script setup>
import EffortInput from '@/components/molecules/todo/EffortInput.vue'
import CustomSelect from '@/components/atoms/CustomSelect.vue'
import { useConfigStore } from '@/store/modules/config'
import { storeToRefs } from 'pinia'

const store = useConfigStore()
const { locale, maxTiredAcceptablePerWeek, maxTiredAcceptable } = storeToRefs(store)
</script>

<template>
  <form @submit.prevent="updateConfig">
    <h2>{{ $t('config.changeLang') }}</h2>
    <CustomSelect v-model="locale" :aria-label="$t('config.changeLang')">
      <option value="pt">Português</option>
      <option value="es">Español</option>
      <option value="en">English</option>
    </CustomSelect>
    <h2>{{ $t('config.effortLimits') }}</h2>
    <label class="effort-per-week-editor">
      <p>{{ $t('config.maxEffortPerPeriod') }} {{ $t('time.period.week') }}:</p>
      <EffortInput :maxInput="280" v-model="maxTiredAcceptablePerWeek" />
    </label>
    <label>
      <p>{{ $t('config.maxEffortPerPeriod') }} {{ $t('time.period.day') }}:</p>
      <EffortInput :maxInput="40" v-model="maxTiredAcceptable" />
    </label>
  </form>
</template>

<style scoped>
h2 {
  margin-bottom: 0;
}

form {
  margin: var(--spacing-l) 0;
}
</style>
