<script setup>
import { computed } from 'vue'
import { useTodoStore } from '@/store/modules/todo'
import SortableList from '@/components/organisms/list/SortableList.vue'

const store = useTodoStore()
const props = defineProps(['folderId', 'folderName'])
const todos = computed(() => store.fromFolder(props.folderId))
const dueTodos = computed(() => todos.value.filter(({ done }) => !done))
const doneTodos = computed(() => todos.value.filter(({ done }) => done))
</script>
<template>
  <section>
    <h2>{{ props.folderName }}</h2>
    <SortableList :todos="dueTodos"></SortableList>
    <h3 v-if="doneTodos.length > 0">{{ $t('task.done') }}</h3>
    <SortableList v-if="doneTodos.length > 0" :todos="doneTodos"></SortableList>
  </section>
</template>
