<script setup>
import { computed } from 'vue';
import { useTodoStore } from '../../store/modules/todo';
import NewFolder from '@/components/molecules/NewFolder.vue'
import EditFolder from '@/components/molecules/EditFolder.vue'

const store = useTodoStore()
const folders = computed(() => store.folders)
</script>
<template>
  <section>
    <h2>{{ $t('folder.folders') }}</h2>
    <NewFolder />
    <ul>
      <li v-for="folder in folders" :key="`edit-${folder.id}`">
        <EditFolder :folderId="folder.id" />
      </li>
    </ul>
  </section>
</template>

<style scoped>
ul {
  list-style: none;
}
</style>
