<script setup>
import CreateBackup from '../molecules/CreateBackup.vue';
import RecoverFromBackup from './RecoverFromBackup.vue';

</script>
<template>
  <section>
    <h2>{{ $t('backup.backup') }}</h2>
    <CreateBackup />
    <h3>{{ $t('backup.recoverFrom') }}</h3>
    <RecoverFromBackup />
  </section>
</template>

<style scoped></style>
