<script setup>
import { useToastStore } from '@/store/modules/toast'
import RegularButton from '@/components/atoms/RegularButton.vue'
import ModalContainer from '@/components/atoms/misc/ModalContainer.vue'
import CreateTodo from './CreateTodo.vue'
import useModal from '@/composables/useModal'
import { useI18n } from 'vue-i18n'
const { t } = useI18n()

const { modalId, openModal } = useModal()
const toastStore = useToastStore()
const toastCreatedTodo = ({ name }) => {
  toastStore.showMessage(`${t('task.createdTask')} ${name} 😉`)
}
</script>
<template>
  <RegularButton @click="openModal">New Todo</RegularButton>
  <ModalContainer :modal-id="modalId">
    <CreateTodo @created-todo="toastCreatedTodo" />
  </ModalContainer>
</template>
