<script setup>
import { computed, onUnmounted, ref } from 'vue'
import { log } from 'loglevel'
import { useModalStore } from '@/store/modules/modal'
import { useToastStore } from '@/store/modules/toast'
import { useTodoStore } from '@/store/modules/todo'
import { useConfigStore } from '@/store/modules/config'
import backupCompatibility from '@/store/compatibility/backupCompatibility'
import RegularButton from '@/components/atoms/RegularButton.vue'
import ModalContainer from '@/components/atoms/misc/ModalContainer.vue'
import WarnButton from '@/components/atoms/WarnButton.vue'
import ViewBackup from '@/components/molecules/ViewBackup.vue'
import { useI18n } from 'vue-i18n'
const { t } = useI18n()

const modalStore = useModalStore()
const toastStore = useToastStore()
const todoStore = useTodoStore()
const configStore = useConfigStore()
const modalId = modalStore.registerModal()
onUnmounted(() => modalStore.unregisterModal(modalId))
const openModal = () => modalStore.openModal(modalId)
const backupData = ref({})

const onFileChange = async (ev) => {
  const file = ev.target.files[0]
  let jsonBackup
  try {
    jsonBackup = JSON.parse(await file.text())
    console.log(jsonBackup)
    const { todo, config } = backupCompatibility(jsonBackup)
    backupData.value.todo = todo
    backupData.value.config = config ?? { version: t('errors.versionNotDetected') }
  } catch (e) {
    toastStore.showMessage(t('errors.invalidBackupFile'))
    log(e)
    log(jsonBackup)
  }
}

const isBackupValid = computed(() => backupData.value.config && backupData.value.todo)

const viewBackup = () => {
  if (isBackupValid.value) openModal()
  else toastStore.showMessage(t('errors.invalidBackupFile'))
}

const overwriteWithBackup = () => {
  todoStore._OVEWRITE_BACKUP(backupData.value.todo)
  configStore._OVEWRITE_BACKUP(backupData.value.config)
  toastStore.showMessage(t('backup.backupSuccessful'))
  modalStore.closeModal(modalId)
  setTimeout(() => location.reload(true), 1_000)
}

const mergeBackup = () => {
  toastStore.showMessage(t('general.featureInDevelopment'))
}

</script>
<template>
  <ModalContainer :modalId="modalId">
    <ViewBackup v-if="isBackupValid" :backupData="backupData" />
    <RegularButton @click="mergeBackup">{{ $t('backup.merge') }}</RegularButton>
    <WarnButton @click="overwriteWithBackup">{{ $t('backup.destructiveRecover') }}</WarnButton>
  </ModalContainer>
  <form @submit.prevent="viewBackup">
    <label>
      Your most recent backup file
      <input type="file" @change="onFileChange" />
    </label>
    <RegularButton type="submit">{{ $t('backup.viewBackup') }}</RegularButton>
  </form>
</template>
<style scoped>
input {
  margin-top: var(--spacing-s);
  padding: var(--spacing-s);
}

form>button {
  display: block;
  margin: var(--spacing-s) 0;
}
</style>
