<script setup>
import PromptContainer from '@/components/atoms/misc/PromptContainer.vue'
import RegularButton from '@/components/atoms/RegularButton.vue'
</script>

<template>
  <PromptContainer :show="$needsRefresh.value">
    {{ $t('general.refreshNotice') }}
    <RegularButton @click="() => $updateSW()">{{ $t('general.update') }}</RegularButton>
  </PromptContainer>
</template>

<style scoped>
button {
  background-color: var(--color-background-emphasis-1);
}
</style>
