<script setup>
import { ref } from 'vue'
import StickerButton from '@/components/molecules/StickerButton.vue'

const collapse = ref(true)

const handleClick = () => {
  collapse.value = !collapse.value
}
const sidebarClick = (ev) => {
  // hide bar when clicking on a link on it
  if (ev.target.nodeName === 'A') {
    collapse.value = true
  }
}
</script>

<template>
  <div class="button-wrapper">
    <StickerButton type="button" @click="handleClick">menu 📑​</StickerButton>
  </div>
  <div class="sidebar" :aria-expanded="!collapse" @click="sidebarClick">
    <slot></slot>
  </div>
</template>

<style scoped>
button,
div {
  --button-height: var(--sidebar-main-size);
}

.button-wrapper {
  --sticker-emphasis-bg: var(--color-pink);
  top: 0;
  left: 0;
  position: fixed;
  height: var(--button-height);
  margin-top: var(--spacing-m);
  padding: var(--spacing-m);
  z-index: 20;
}

.button-wrapper button {
  width: calc(2 * var(--sidebar-main-size));
}

.sidebar {
  --link-color: var(--color-pen-blue);
  background-color: var(--color-sticky-note);
  box-shadow: var(--right-shadow);
  left: 0;
  top: 0;
  width: 400px;
  position: fixed;
  padding-top: calc(var(--button-height) * 2);
  padding-bottom: 8px;
  transition: all ease-in 300ms;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  z-index: 10;

  @media (max-width: 412px) {
    width: 300px;
  }
}

.sidebar[aria-expanded="false"] {
  visibility: hidden;
  transform: translateX(-100%);
}

.sidebar[aria-expanded="true"] {
  display: flex;
  visibility: visible;
  transform: translateX(0);
}
</style>
