<template>
  <div>
    <nav class="nav-week" ref="nav">
      <a v-for="day in days" :class="titleDayClass(day)" @click="scrollDay(day)" :key="dateKey(day)">
        {{ shortWeekDay(day) }}
      </a>
    </nav>
    <div v-for="day in days" :key="dateKey(day)" :ref="weekDay(day)">
      <h2 :class="titleDayClass(day)">{{ weekDay(day) }}</h2>
      <h3 :class="titleDayClass(day)">{{ descDay(day) }}</h3>
      <DayView :day="day" />
    </div>
  </div>
</template>

<script>
import {
  isToday,
  format,
  formatISO
} from 'date-fns'
import DayView from '@/components/organisms/DayView.vue'

export default {
  name: 'WeekView',
  components: {
    DayView
  },
  props: { days: Array },
  methods: {
    titleDayClass(day) {
      if (isToday(day)) {
        return 'today'
      }
      return ''
    },
    scrollDay(day) {
      const element = this.$refs[this.weekDay(day)][0]
      const nav = this.$refs.nav
      window.scrollTo(0, element.offsetTop - nav.clientHeight)
    },
    weekDay(date) {
      return format(date, 'EEEE')
    },
    shortWeekDay(date) {
      return format(date, 'EEE')
    },
    descDay(date) {
      return format(date, 'dd') + '/' + format(date, 'LLL')
    },
    dateKey(date) {
      return formatISO(date)
    }
  }
}
</script>

<style scoped>
h2,
h3 {
  text-align: center;
  margin: 0;
}

h3 {
  margin-bottom: var(--spacing-xxs);
}

.today {
  background: var(--color-background-emphasis-1);
}

.nav-week {
  background: var(--color-yellow);
  display: flex;
  font-size: var(--font-size-xs);
  justify-content: space-between;
  padding: var(--spacing-xxs);
  position: sticky;
  text-transform: lowercase;
  top: 0;
  z-index: 5;
}

.nav-week a {
  cursor: pointer;
  padding: var(--spacing-xs);
}
</style>
