<script setup>
import WeekView from '@/components/organisms/WeekView.vue'
import RegularButton from '@/components/atoms/RegularButton.vue'
import { add, format, parseISO, sub } from 'date-fns'
import { daysFromWeek } from '@/services/week'
import { DATE_FORMAT } from '@/services/constants'
import { computed } from 'vue'
import { useRoute } from 'vue-router'

const route = useRoute()
const day = computed(() => route.params.date ? parseISO(route.params.date) : new Date())
const currentDays = computed(() => daysFromWeek(day.value))
const next = computed(() => `/week/${format(add(day.value, { weeks: 1 }), DATE_FORMAT)}`)
const previous = computed(() => `/week/${format(sub(day.value, { weeks: 1 }), DATE_FORMAT)}`)
const thisWeek = computed(() => `/week/${format(new Date(), DATE_FORMAT)}`)
</script>

<template>
  <div>
    <nav aria-label="Week Pagination">
      <a :href="previous">
        <RegularButton>{{ $t('navigation.previous') }}</RegularButton>
      </a>
      <a :href="thisWeek">
        <RegularButton>{{ $t('navigation.thisWeek') }}</RegularButton>
      </a>
      <a :href="next">
        <RegularButton>{{ $t('navigation.next') }}</RegularButton>
      </a>
    </nav>
    <WeekView :days="currentDays" />
  </div>
</template>

<style scoped>
nav {
  display: flex;
  justify-content: space-around;
  text-transform: lowercase;
  padding: var(--spacing-s);
}
</style>
