<script setup>
import MainTemplate from '@/components/templates/MainTemplate.vue'
import RefreshVersionPrompt from '@/components/organisms/RefreshVersionPrompt.vue'
import useUndo from '@/composables/useUndo'
import useSetVersion from '@/composables/useSetVersion'
import useGlobalLocale from '@/composables/useGlobalLocale'

useSetVersion()
useUndo()
useGlobalLocale()
</script>
<template>
  <MainTemplate>
    <router-view class="page"></router-view>
    <RefreshVersionPrompt />
  </MainTemplate>
</template>

<style>
body {
  --color-white: #fff;
  /* warning red color*/
  --color-warning: #f52242;
  /* sticky note colors */
  --color-pink: #f25AFC;
  --color-blue: #16B0D0;
  --color-green: #80F762;
  --color-yellow: #F0D84F;
  --color-shadow: #444;
  /*
  * contrast of pen colors must be tested against at least one sticky note color
  * a good place to test accessibility contrasts: https://color.a11y.com/ContrastPair/
  **/
  --color-pen-blue: #1629B5;
  /* blue pen accepts yellow, green sticky note */
  --color-pen-black: #0e0e0e;
  /* black pen accepts all sticky notes */
  --color-pen: var(--color-pen-black);
  --color-sticky-note: var(--color-yellow);
  --color-default-background: var(--color-white);
  --color-emphasis-1: var(--color-pen-black);
  --color-emphasis-2: var(--color-pen-black);
  --color-background-emphasis-1: var(--color-green);
  --color-background-emphasis-2: var(--color-blue);
  --color-active: var(--color-green);
  --color-inactive: var(--color-sticky-note);

  /* sizes and spaces */
  --height-bottom-fixed: 120px;

  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-sm: 12px;
  --spacing-m: 16px;
  --spacing-ml: 24px;
  --spacing-l: 32px;
  --spacing-xl: 48px;

  @media (max-width: 600px) {
    --spacing-xs: 2px;
    --spacing-s: 4px;
    --spacing-sm: 8px;
    --spacing-m: 12px;
    --spacing-ml: 18px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
  }

  --font-size-s: 24px;
  font-size: var(--font-size-s);

  --font-size-xxs: 0.6em;
  --height-line-xxs: 0.8em;
  --font-size-xs: 0.8em;
  --height-line-xs: 1em;
  --height-line-s: 1.33em;
  --font-size-m: 1.33em;
  --height-line-m: 2em;
  --font-size-ml: 1.5em;
  --height-line-ml: 2.5em;
  --font-size-l: 2em;
  --height-line-l: 3em;

  --sidebar-main-size: var(--height-line-m);

  --square-size-xs: calc(var(--height-line-s) + 2 * var(--spacing-s));
  --square-size-s: calc(var(--height-line-m) + 2 * var(--spacing-s));
  --square-size-m: calc(var(--height-line-m) + 2 * var(--spacing-s));
  --square-size-l: calc(var(--height-line-l) + 2 * var(--spacing-s));

  --right-shadow: var(--color-shadow) 3px 1px 3px 0px;
  --all-shadow: var(--color-shadow) 0px 1px 6px 0px;
  --border-default-pen: 1px solid var(--color-pen-blue);

  --regular-font-family: system-ui,
    "Lucida Console",
    Monaco,
    monospace;
  --emoji-font-family: "Twemoji Mozilla",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji",
    "EmojiOne Color",
    "Android Emoji",
    sans-serif;

  background: var(--color-default-background);
  margin: 0;
}

input {
  background: var(--color-sticky-note);
  color: var(--color-pen-blue);
  border: var(--border-default-pen);
  padding-left: var(--spacing-s);
}

a,
a:visited {
  color: var(--link-color, --color-pen);
}

a:hover,
a:hover:visited {
  text-decoration: none;
}

#app {
  font-family: var(--regular-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-pen-black);
}
</style>
