<script setup>
import { useTodoStore } from '@/store/modules/todo'
import EditableTodo from './EditableTodo.vue'
import RegularButton from '@/components/atoms/RegularButton.vue'
import ContextMenu from '@/components/molecules/ContextMenu.vue'
import { computed, ref } from 'vue'

const props = defineProps(['todo', 'day'])
const todoStore = useTodoStore()

const postponeDate = ref()
const postpone = () => todoStore.updateTodo(props.todo.id, { date: postponeDate.value })
const backToFolder = () => todoStore.updateTodo(props.todo.id, { date: undefined })
const folder = computed(() => todoStore.getFolderById(props.todo.folderId)?.name ?? '📁 Inbox')
const showSnooze = computed(() => props.todo?.recurringDays.length > 0)
const snooze = () => todoStore.snooze(props.todo.id, props.day)

</script>

<template>
  <div class="todo-options-container">
    <div class="todo-options">
      <RegularButton v-if="showSnooze" @click="snooze">💤 {{ $t('task.dismiss.snooze') }}</RegularButton>
      <ContextMenu class="context-menu" :labelText="$t('task.dismiss.newDueDate')">
        <form @submit.prevent="postpone">
          <input type="date" v-model="postponeDate" required />
          <RegularButton type="submit">{{ $t('general.save') }}</RegularButton>
        </form>
      </ContextMenu>
      <RegularButton @click="backToFolder">{{ $t('task.dismiss.backToFolder') }} {{ folder }}</RegularButton>
    </div>
    <EditableTodo class="todo-line" :todo="props.todo" :show-date="true" />
  </div>
</template>

<style scoped>
.todo-options {
  display: flex;
  font-size: var(--font-size-xxs);
  gap: var(--spacing-s);
  margin-bottom: var(--spacing-s);
}
</style>
