<script setup>
import { useTodoStore } from '@/store/modules/todo'
import EditableTodo from './EditableTodo.vue'
import RegularButton from '@/components/atoms/RegularButton.vue'
import ContextMenu from '@/components/molecules/ContextMenu.vue'
import { computed, ref } from 'vue'

const props = defineProps(['todo'])
const todoStore = useTodoStore()

const doneDate = ref(props.todo?.doneDate)
const backToFolder = () => todoStore.updateTodo(props.todo.id, { date: undefined })
const folder = computed(() => todoStore.getFolderById(props.todo.folderId)?.name ?? '📁 Inbox')
const shouldShowFolder = computed(() => !props.todo?.recurringDays?.length > 0)
const changeDoneDate = () => todoStore.updateTodo(props.todo.id, { doneDate: doneDate.value })

</script>

<template>
  <div class="todo-options-container">
    <div class="todo-options">
      <ContextMenu :labelText="$t('task.prompt.changeDoneDate')">
        <form @submit.prevent="changeDoneDate">
          <input type="date" v-model="doneDate" required />
          <RegularButton type="submit">{{ $t('general.save') }}</RegularButton>
        </form>
      </ContextMenu>
      <RegularButton v-if="shouldShowFolder" class="options-button" @click="backToFolder">{{
        $t('task.dismiss.backToFolder') }} {{ folder }}
      </RegularButton>
    </div>
    <EditableTodo :todo="props.todo" />
  </div>
</template>

<style scoped>
form {
  display: block;
}

.todo-options {
  display: flex;
  font-size: var(--font-size-xxs);
  gap: var(--spacing-s);
  margin-bottom: var(--spacing-s);
}

.options-button {
  width: 120px;
}
</style>
