<script setup>
import InputTodo from '@/components/molecules/todo/InputTodo.vue'
import TiredTodo from '@/components/molecules/todo/TiredTodo.vue'
import ContextMenu from '@/components/molecules/ContextMenu.vue'
import ModalContainer from '@/components/atoms/misc/ModalContainer.vue'
import RegularButton from '@/components/atoms/RegularButton.vue'
import { ref } from 'vue'
import { useTodoStore } from '@/store/modules/todo'
import useModal from '@/composables/useModal'

const props = defineProps(['todo'])
const { modalId, openModal, closeModal } = useModal()
const todoStore = useTodoStore()
const todoModelRef = ref({ ...props.todo })
const saveTodo = () => {
  todoStore.rewriteTodo(todoModelRef.value)
  closeModal()
}
const removeTodo = () => todoStore.removeTodo(todoModelRef.value)
</script>

<template>
  <div class="editable-todo-container">
    <TiredTodo class="todo-element" v-bind="{ ...props }" />
    <ContextMenu class="context" labelText="...">
      <div class="options-wrapper">
        <RegularButton type="button" :aria-label="$t('task.prompt.edit')" @click="openModal">📝</RegularButton>
        <RegularButton class="remove-todo" type="button" :aria-label="$t('task.prompt.delete')" @click="removeTodo">🗑
        </RegularButton>
      </div>
    </ContextMenu>
    <ModalContainer :modal-id="modalId">
      <form @submit.prevent="saveTodo" @keydown.enter="saveTodo">
        <InputTodo v-model="todoModelRef" />
        <RegularButton class="modal-submit-button" type="submit">{{ $t('general.save') }}</RegularButton>
      </form>
    </ModalContainer>
  </div>
</template>

<style scoped>
.editable-todo-container {
  background: var(--color-sticky-note);
  border: var(--border-default-pen);
  display: flex;
}

.todo-element {
  flex-basis: 100%;
}

.context {
  margin: var(--spacing-s);
}

.context>button {
  height: var(--square-size-xs);
  font-size: var(--font-size-xxs);
  margin: var(--spacing-s);
  width: var(--square-size-xs);
}

.options-wrapper {
  display: flex;
  gap: var(--spacing-s);
}

.modal-submit-button {
  margin: var(--spacing-m);
}
</style>
