<script setup>
import EffortIndicator from '@/components/atoms/EffortIndicator.vue'
import RegularButton from '@/components/atoms/RegularButton.vue'
import { useConfigStore } from '@/store/modules/config'
import { computed } from 'vue';

const props = defineProps({
  maxInput: {
    required: false,
    type: Number
  },
  modelValue: Number
})

const emit = defineEmits(['update:modelValue'])
const store = useConfigStore()
const maxTiredAcceptable = computed(() => store.maxTiredAcceptable)
const max = computed(() => props.maxInput ?? maxTiredAcceptable.value)
const GOLDEN_RATIO = (1 + Math.sqrt(5)) / 2
const nextFibonaciIsh = (value) => {
  if (value >= 20) return value + 20
  if (value >= 13) return 20
  return Math.round(value * GOLDEN_RATIO)
}
const previousFibonacciIsh = (value) => {
  if (value > 20) return value - 20
  if (value === 20) return 13
  return Math.round(value / GOLDEN_RATIO)
}
const increaseTiredIndicator = () => {
  const newValue = nextFibonaciIsh(props.modelValue)
  if (newValue <= max.value) {
    emit('update:modelValue', newValue)
  }
}
const decreaseTiredIndicator = () => {
  const newValue = previousFibonacciIsh(props.modelValue)
  if (newValue >= 1) {
    emit('update:modelValue', newValue)
  }
}
</script>
<template>
  <span class="tired-input">
    <strong class="label-title">{{ $t('task.effort.effort') }}</strong>
    <div class="button-wrapper">
      <RegularButton type="button" :aria-label="$t('task.effort.increase')" @click="increaseTiredIndicator">➕
      </RegularButton>
      <RegularButton type="button" :aria-label="$t('task.effort.decrease')" @click="decreaseTiredIndicator">➖
      </RegularButton>
    </div>
    <EffortIndicator class="indicator" :effort="modelValue" />
  </span>
</template>


<style scoped>
.tired-input {
  --indicator-size: calc(var(--square-size-xs) * 2 + var(--spacing-s));
  --button-size: var(--square-size-m);
  align-items: stretch;
  background: var(--color-sticky-note);
  border: var(--border-default-pen);
  color: var(--color-pen);
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--spacing-s);
  width: calc(var(--indicator-size) + var(--button-size) + var(--spacing-s));
}

.label-title {
  flex-basis: 100%;
}

.indicator {
  box-sizing: border-box;
  height: var(--indicator-size);
  margin: 0 var(--spacing-xs);
  min-width: var(--indicator-size);
  padding: var(--spacing-s);
}

.button-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--button-size);
}

.button-wrapper>button {
  background: var(--color-background-emphasis-1);
  color: var(--color-emphasis-1);
  font-size: var(--font-size-xxs);
  height: var(--button-size);
  min-height: var(--button-size);
  padding: 0;
  text-align: center;
  width: var(--button-size);
}
</style>
