<script setup>
import { computed, ref } from 'vue'
import { useTodoStore } from '@/store/modules/todo'
import CustomSelect from '@/components/atoms/CustomSelect.vue'

const props = defineProps({
  modelValue: String
})
const innerModel = ref(props.modelValue ?? false)
const emit = defineEmits(['update:modelValue'])
const store = useTodoStore()
const folders = computed(() => store.folders)
const updateValue = (ev) => emit('update:modelValue', ev.target.value)
</script>

<template>
  <span>
    <CustomSelect @change="updateValue" v-model="innerModel" :aria-label="$t('folder.folder')">
      <option :value="false">{{ $t('folder.noFolder') }}</option>
      <option v-for="folder in folders" :key="folder.id" :value="folder.id">
        {{ folder.name }}
      </option>
    </CustomSelect>
  </span>
</template>
