<script setup>
import { ref, watch } from 'vue'
import EffortInput from './EffortInput.vue'
import RecurringDaysInput from './RecurringDaysInput.vue'
import FolderSelector from '@/components/molecules/todo/FolderSelector.vue'

const props = defineProps({
  hideDate: Boolean,
  modelValue: Object,
  hideInputs: {
    type: Array,
    default: () => []
  }
})
const emit = defineEmits(['update:model-value'])

const shouldShow = key => !props?.hideInputs?.includes(key)

const taskName = ref(props.modelValue?.taskName)
const date = ref(props.modelValue?.date)
const tiring = ref(props.modelValue?.tiring)
const recurringDays = ref(props.modelValue?.recurringDays)
const folderId = ref(props.modelValue?.folderId)

watch(taskName, () => {
  emit('update:model-value', { ...props.modelValue, taskName: taskName.value })
})
watch(tiring, () => {
  emit('update:model-value', { ...props.modelValue, tiring: tiring.value })
})
watch(folderId, () => {
  emit('update:model-value', { ...props.modelValue, folderId: folderId.value })
})
watch(date, () => {
  if (date.value) {
    recurringDays.value = []
  }
  emit('update:model-value', { ...props.modelValue, date: date.value })
})
watch(recurringDays, () => {
  if (recurringDays.value.length > 0) {
    date.value = null
  }
  emit('update:model-value', { ...props.modelValue, recurringDays: recurringDays.value })
})

watch(() => props.modelValue, (newModel) => {
  taskName.value = newModel.taskName
  tiring.value = newModel.tiring
}, { deep: true })

</script>

<template>
  <div class="input-todo-container">
    <input class="task-name form-item" type="text" v-model="taskName" :placeholder="$t('task.placeholder.task')">
    <input class="form-item" v-show="shouldShow('date')" type="date" v-model="date"
    :placeholder="$t('task.placeholder.date')">
    <EffortInput class="form-item element-break-line" v-model="tiring" v-show="shouldShow('effort')" />
    <RecurringDaysInput class="form-item element-break-line" v-show="shouldShow('date')" v-model="recurringDays" />
    <FolderSelector class="form-item element-break-line" v-model="folderId" v-show="shouldShow('folder')" />
  </div>
</template>

<style scoped>
.task-name {
  min-width: 15em;
}

.form-item {
  display: inline-flex;
  margin: var(--spacing-m);
  min-height: var(--height-line-m);
}

.element-break-line {
  display: flex;
}
</style>
