<script setup>
import { ref, watch } from 'vue'
import RegularButton from '@/components/atoms/RegularButton.vue'
import { WEEKDAYS, WORKDAYS, localeWeekDay } from '@/services/week'

const props = defineProps(['modelValue'])
const emit = defineEmits(['update:model-value'])
const innerValue = ref(props.modelValue)
const includesAllDaysInArray = (days) => {
  return days.reduce((acc, day) => acc && innerValue?.value?.includes(day), true)
}
const currentDaysUnion = (daysToInclude) => {
  return [...new Set([...(innerValue.value || []), ...daysToInclude])]
}
const currentDaysDifference = (daysToExclude) => {
  return innerValue.value.filter(x => !daysToExclude.includes(x))
}
const toggleAllDays = () => {
  const checked = includesAllDaysInArray(WEEKDAYS)
  updateModel(!checked, WEEKDAYS)
}
const toggleWorkdays = () => {
  const checked = includesAllDaysInArray(WORKDAYS)
  updateModel(!checked, WORKDAYS)
}
const updateModel = (checked, days) => {
  innerValue.value = checked
    ? currentDaysUnion(days)
    : currentDaysDifference(days)
}
watch(() => props.modelValue, (newValue) => {
  innerValue.value = newValue
}, { deep: true }) // deep because modelValue is an array
watch(innerValue, () => emit('update:model-value', innerValue.value))
</script>

<template>
  <div class="recurring-days-input">
    <strong class="label-title">{{ $t('task.prompt.recurring') }}</strong>
    <RegularButton type="button" @click="toggleAllDays">{{ $t('task.recurring.everyDay') }}</RegularButton>
    <RegularButton type="button" @click="toggleWorkdays">{{ $t('task.recurring.workDays') }}</RegularButton>
    <ul>
      <li v-for="day in WEEKDAYS" :key="day">
        <label>
          <input type="checkbox" v-model="innerValue" :value="day"
            :key="`${day} -${props.modelValue?.includes(day)} `" />
          {{ localeWeekDay(day).toLowerCase() }}
        </label>
      </li>
    </ul>
  </div>
</template>

<style scoped>
.recurring-days-input {
  background: var(--color-sticky-note);
  border: var(--border-default-pen);
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: var(--spacing-s);
}

ul {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: var(--spacing-s) 0;
  padding: 0;
  width: 100%;
}

ul>li {
  flex-basis: 40%;
}

@media (min-width: 900px) {
  ul>li {
    flex-basis: 10%;
  }
}

.label-title {
  margin: var(--spacing-s) 0;
  width: 100%;
}

button {
  background: var(--color-background-emphasis-1);
  color: var(--color-emphasis-1);
  font-size: var(--font-size-xxs);
  margin: 0 var(--spacing-s);
  min-height: var(--height-line-xxs);
  padding: var(--spacing-xs);
}

button:first-of-type {
  margin-left: 0;
}
</style>
