<script setup>
import RegularButton from '@/components/atoms/RegularButton.vue'
import { useTodoStore } from '@/store/modules/todo'
const todoStore = useTodoStore()
const props = defineProps(['day', 'textLabel'])
const recoverSnoozes = () => todoStore.recoverSnoozes(props.day)
const shouldShow = () => todoStore.snoozedOnDay(props.day).length > 0

</script>
<template>
  <RegularButton v-if="shouldShow()" @click="recoverSnoozes()">{{ textLabel || 'Recover Snoozes' }}</RegularButton>
</template>
