<script setup>
import { computed } from 'vue'
import { format, parseISO } from 'date-fns'
import EffortIndicator from '@/components/atoms/EffortIndicator.vue'
import RegularButton from '@/components/atoms/RegularButton.vue'
import RecurrentIndicator from '@/components/atoms/RecurrentIndicator.vue'
import { useTodoStore } from '@/store/modules/todo'

const props = defineProps(['todo'])
const store = useTodoStore()
const tickInfo = computed(() => {
  if (props.todo.done) return '✅'
  return '⭕'
})
const tickTodo = () => store.tickTodo(props.todo)
const formatDate = (date) => format(parseISO(date), 'dd-LLL')

const formattedDate = computed(() => {
  const sameDate = props.todo?.date === props.todo?.doneDate
  const bothDates = props.todo?.date && props.todo?.doneDate
  if (bothDates && !sameDate) {
    return `${formatDate(props.todo.doneDate)}, due on ${formatDate(props.todo.date)}`
  }
  return (
    (props.todo?.date && formatDate(props.todo.date)) ||
    (props.todo?.doneDate && formatDate(props.todo.doneDate))
  )
})
const isRecurrent = computed(() => props.todo?.recurringDays?.length > 0)
</script>

<template>
  <div class="todo">
    <RegularButton class="tick-todo" type="button" @click="tickTodo(todo)">{{
      tickInfo
    }}</RegularButton>
    <div class="todo-info">
      <div class="superior-bar">
        <span class="date" v-if="todo.showDate">{{ formattedDate }}</span>
        <RecurrentIndicator v-if="isRecurrent" :recurringDays="todo.recurringDays" />
      </div>
      <span class="task-name">{{ todo.taskName }}</span>
    </div>
    <EffortIndicator class="indicator" :effort="todo.tiring" />
  </div>
</template>

<style scoped>
.todo {
  align-items: center;
  container-name: todo;
  container-type: size;
  display: grid;
  gap: var(--spacing-s);
  grid-template-columns: var(--square-size-l) 1fr var(--square-size-l);
  font-size: var(--font-size-xs);
  padding: var(--spacing-s);
  --min-width-full: 500px;
}

@container todo (max-width: 500px) {
  .todo-info {
    overflow: auto;
  }

  .task-name {
    text-wrap: nowrap;
  }
}

@container todo (max-width: 500px) {
  .todo-info {
    text-align: left;
    grid-column-end: span 2;
  }
}

.indicator {
  font-size: var(--font-size-xs);
  min-height: var(--square-size-l);
  min-width: var(--square-size-l);
  padding: var(--spacing-xs);
  @container (max-width: 500px) {
    display: none;
  }
}

.superior-bar {
  font-size: var(--font-size-xxs);
}

.task-name {
  display: inline-flex;
  margin-right: var(--spacing-s);
}

.tick-todo {
  border: none;
  height: var(--square-size-s);
  margin-right: var(--spacing-s);
  width: var(--square-size-s);
}
</style>
